{% extends '../base.html' %}

{% block title %}{{ blog.name }}{% endblock %}

{% block body %}
{% load static %}
<div class="content_container">
    <div class="blog_detail__container">
        <div class="blog_detail__header_block">
            <h2 class="blog_detail__header_block__title">{{ blog.name }}</h2>
            <p class="blog_detail__header_block__description">{{ blog.description }}</p>

            <div class="blog_detail__header_block__links">
                <a href="#" class="blog_detail__header_block__links_item">ПРО БЛОГ</a>
                <a href="{% url 'blog_detail' pk=blog.id %}" class="blog_detail__header_block__links_item">ПОСТЫ</a>
                <a href="{% url 'blog_editors' pk=blog.id%}" class="blog_detail__header_block__links_item">РЕДАКТОРЫ</a>
            </div>
        </div>{#  BLOG HEADER  #}

        <div class="blog_detail__info_block">
            <dl class="dl_blog_detail_info">
                <dt class="dt_title__blog_info">Создатель:</dt>
                <dd class="dd_title__blog_info"><a class="link" href="{% url 'profile' pk=blog.creator.id %}"> {{ blog.creator }} </a></dd>
            </dl>

            <dl class="dl_blog_detail_info">
                <dt class="dt_title__blog_info">Дата создания:</dt>
                <dd class="dd_title__blog_info">{{ blog.created.date }}</dd>
            </dl>

            <dl class="dl_blog_detail_info">
                <dt class="dt_title__blog_info">Редакторы:</dt>
                <dd class="dd_title__blog_info">{{ blog.editors.all|length }}</dd>
            </dl>
            {% if request.user in blog.editors.all %}
            <a href="{% url 'post_create' pk=blog.id %}" class="btn blue_btn">Опубликоваь пост</a>
            {% endif %}
        </div>{#  BLOG INFO  #}

        <div class="blog_post__container">
            {% for post in posts %}
                <div class="blog_post">
                    <h4 class="blog_post__author">{{ post.author }}</h4>
                    <p class="blog_post__created">{{ post.created }}</p>
                    <h3 class="blog_post__title">{{ post.title }}</h3>
                    {% if post.images %}
                    <img class="blog_post__img" src="{% static post.images.url %}">
                    {% endif %}
                    <p class="blog_post__text">{{ post.text|truncatechars:255 }}</p>
                    <a href="{% url 'post_detail' blog_id=post.blog.id pk=post.id %}" class="btn blue_btn">Читать дальше</a>
                </div>
            {% endfor %}
        </div>{#  BLOG POSTS CONTAINER  #}
    </div>{#  BLOG POSTS DETAIL CONTAINER  #}


</div>

{% endblock %}