{% extends '../base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
{% load static %}
<div class="content_container">
    <div class="blog_detail__container">
        <div class="blog_detail__header_block">
            <h2 class="blog_detail__header_block__title">{{ blog.name }}</h2>
            <p class="blog_detail__header_block__description">{{ blog.description }}</p>

            <div class="blog_detail__header_block__links">
                <a href="#" class="blog_detail__header_block__links_item">ПРО БЛОГ</a>
                <a href="{% url 'blog_detail' pk=blog.id %}" class="blog_detail__header_block__links_item">ПОСТЫ</a>
                <a href="#" class="blog_detail__header_block__links_item">НОВОСТИ</a>
                <a href="#" class="blog_detail__header_block__links_item">РЕДАКТОРЫ</a>
            </div>
        </div>{#  BLOG HEADER  #}

        <div class="blog_detail__info_block">
            <dl class="dl_blog_detail_info">
                <dt class="dt_title__blog_info">Создатель:</dt>
{#                <dd class="dd_title__blog_info"><a class="link" href="{% url 'profile' pk=blog.creator.id %}"> {{ blog.creator }} </a></dd>#}
            </dl>

            <dl class="dl_blog_detail_info">
                <dt class="dt_title__blog_info">Дата создания:</dt>
                <dd class="dd_title__blog_info">{{ blog.created.date }}</dd>
            </dl>

            <dl class="dl_blog_detail_info">
                <dt class="dt_title__blog_info">Редакторы:</dt>
                <dd class="dd_title__blog_info">{{ blog.editors.all|length }}</dd>
            </dl>


        </div>{#  BLOG INFO  #}


        <div class="blog_post__container">
            <div class="blog_post">
                <h4 class="blog_post__author">{{ post.author }}</h4>
                <p class="blog_post__created">{{ post.created }}</p>
                <h3 class="blog_post__title">{{ post.title }}</h3>
                <p class="blog_post__text">{{ post.text }}</p>
            </div>

            <div class="comments_container">
                <h3 class="blog_post__title">Комментарии</h3>

                <form class="comment_form" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" class="btn blue_btn comment_button">Оставить комментарий</button>
                </form>

                {% for comment in comments %}
                <div class="comment_block">
                    <h4 class="blog_post__author">{{ comment.user }}</h4>
                    <p class="blog_post__created">{{ comment.created }}</p>
                    <p class="blog_post__text">{{ comment.content }}</p>
                </div>
                {% empty %}
                <div class="comment_block">
                    <h3 class="blog_post__author">Комментариев нет</h3>
                </div>
                {% endfor %}
            </div>
        </div>{#  BLOG POSTS CONTAINER  #}

        <div class="blog_detail__info_block info_about_post">
            <h3>Информация про пост</h3>
            <dl class="dl_blog_detail_info">
                <dt class="dt_title__blog_info">Автор:</dt>
                <dd class="dd_title__blog_info"><a class="link" href="{% url 'profile' pk=post.author.id %}"> {{ post.author }} </a></dd>
            </dl>

            <dl class="dl_blog_detail_info">
                <dt class="dt_title__blog_info">Дата создания:</dt>
                <dd class="dd_title__blog_info">{{ post.created }}</dd>
            </dl>

            <dl class="dl_blog_detail_info">
                <dt class="dt_title__blog_info">Лайков:</dt>
                <dd class="dd_title__blog_info">{{ post_likes|length }}</dd>
            </dl>

            <form action="{% url 'post_like' post_id=post.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn blue_btn">Лайк</button>
            </form>
        </div>{#  POST INFO  #}
    </div>{#  BLOG POSTS DETAIL CONTAINER  #}


</div>

{% endblock %}