@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Regular.eot');
    src: local('SF Pro Display Regular'), local('SFProDisplay-Regular'),
        url('../fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Regular.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Regular.woff') format('woff'),
        url('../fonts/SFProDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Semibold.eot');
    src: local('SF Pro Display Semibold'), local('SFProDisplay-Semibold'),
        url('../fonts/SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Semibold.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Semibold.woff') format('woff'),
        url('../fonts/SFProDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}


body {
    font-family: 'SF Pro Display';
    font-size: 16px;
    font-weight: 400;

    margin: 0;
}

.content_container {
    width: 1440px;
    max-width: 1440px;
    height: 100%;

    margin: 0 auto;
}

/*OTHER*/
/*TEXT*/
.main_title {
    font-weight: 700;
    font-size: 36px;
    color: #EEB331;

    margin: 30px auto 30px;
}

.other_title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    margin: 0;
}

.center_title {
    text-align: center;
}

.grey_text {
    font-size: 12px;

    color: #ADAFBB;
    margin: 0;
}

.text {
    margin: 0;

    font-weight: 400;
    font-size: 16px;

    color: #000000;
}

/*BTNS*/
.btn {
    display: inline-block;

    text-decoration: none;
    font-size: 16px;
    font-weight: 400;

    padding: 6px 14px 5px;
    border: 1px solid #EEB738;
    border-radius: 5px;

    color: #EEB738;
    background: none;
}

.btn__fit_content {
    height: fit-content;
    width: fit-content;
}

.btn:hover{
    color: white;
    background: #EEB738;
}

.blue_btn {
    color: rgb(56, 58, 62);
    border: 1px solid rgb(56, 58, 62);
}

.blue_btn:hover {
    background-color: rgb(56, 58, 62);
}

.btn_100width {
    width: 100%;
    text-align: center;
}

.link {
    text-decoration: none;
    color: rgb(56, 58, 62);
    font-weight: 600;
}

.blue_link {
    color: rgb(90, 106, 131);
    font-weight: 400;
}

/*PAGINATION*/
.page_pagination_hyperlinks {
    box-sizing: content-box;
    margin: 0 auto;
    display: block;
}

.paginator_btn {
    text-decoration: none;

    color: rgb(255, 255, 255);
    background-color: rgb(56, 58, 62);

    font-size: 16px;
    font-weight: 400;

    padding: 6px 14px 5px;
    margin: 0 5px 0 5px;

    border: 1px solid rgb(56, 58, 62);
    border-radius: 5px;

    box-sizing: content-box;
}

.paginator_btn:hover {
    opacity: .90;
}

/*FORM*/
.form {
    margin: 0 auto;
    width: 500px;
}

.form_input {
    width: 458px;

    border: 1px solid #E8E6EA;
    border-radius: 15px;
    outline: none;

    padding: 18px 20px 19px;

    margin-bottom: 20px;

    font-weight: 400;
    font-size: 16px;
    color: #000000;

    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);
}

.form_input::placeholder {
    font-weight: 400;
    font-size: 16px;
}

.form_textarea {
    width: 458px;

    border: 1px solid #E8E6EA;
    border-radius: 15px;
    outline: none;

    padding: 18px 20px 19px;

    margin-bottom: 20px;

    font-family: "SF Pro Display";
    font-weight: 400;
    font-size: 16px;
    color: #000000;

    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);

    resize: none;
}

.form_choice {
    width: 500px;

    border: 1px solid #E8E6EA;
    border-radius: 15px;
    outline: none;

    padding: 18px 20px 19px;

    margin-bottom: 20px;

    font-weight: 400;
    font-size: 16px;
    color: #000000;

    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);
}

.form_choice_multiple {
    width: 500px;
    height: 100%;

    border: 1px solid #E8E6EA;
    border-radius: 15px;
    outline: none;

    padding: 18px 20px 19px;

    margin-bottom: 20px;

    font-weight: 400;
    font-size: 16px;
    color: #000000;

    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);
}

.form_btn {
    display: inline-block;
    width: 100%;

    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: 400;

    padding: 16px 32px 16px;
    border: 1px solid #EEB738;
    border-radius: 15px;

    color: #EEB738;
    background: none;

    margin-bottom: 20px;
}

.form_btn:hover {
    background-color: #EEB738;
    color: white;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);
}

.form_btn:last-child {
    margin-bottom: 0;
}


/*NAV*/
.nav_container {
    display: flex;
    position: relative;
    width: 100%;
}

.navigation{
    height: 50px;

    box-shadow: 0px 4px 13px -1px rgba(50, 55, 85, 0.25);
}

.menu_links__container {
    height: 100%;

    display: flex;
}

.menu_links__item {
    text-decoration: none;
    font-size: 20px;
    color: #323755;

    height: 100%;
    padding: 12px 14px 5px;
    box-sizing: border-box;
}

.menu_links__item:hover {
    opacity: .90;
}

.auth_link__container {
    position: absolute;
    right: 50px;
}

.auth_btn {
    margin: 8px 10px;
}

.auth_btn:last-child{
    margin-right: 0;
}

/*REGISTER*/


/*PROFILE*/
.profile_container {
    width: 1140px;
    max-width: 1140px;

    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
}

.other_profile_info__block {
    margin-top: 30px;
}

.profile_photo {
    height: 300px;
    width: 240px;
    max-height: 300px;
    max-width: 240px;

    border-radius: 5px;

    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);

    background-color: black;
}

.profile_info__block {
    height: 300px;
    max-width: 858px;


    margin-left: 40px;
    padding-left: 20px;
}

.profile_title__name {
    margin: 10px 0 0 0;
    font-size: 28px;
}

.profile_info__about_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

    color: rgba(0, 0, 0, 0.7);

    margin: 5px 0 0;
}

.profile_info__about_title {
    font-size: 16px;
    font-weight: 600;
    margin: 20px 0 0 0
}

.profile_avatar_btn_container {
    max-width: 240px;
}

.upd_prof_btn {
    display: block;
    text-align: center;
    margin-top: 10px;

}

/*BLOGS*/
.blog_container {
    display: flex;
    flex-wrap: wrap;
}


/*BLOG FILTER*/
.blog_filter_block {
    width: 240px;
    background-color: rgb(232, 240, 254);
    height: fit-content;
}

.blog_filter_block__title {
    text-align: center;
}

.filter_block {
    padding: 10px 15px 10px;
}

.filter_block__title {
    margin: 0;
}

.filter_block__rubric {
    margin-left: 10px;
    display: block;
}


/*BLOG LIST*/
.blog_list {
    margin: 0 0 0 40px;

    display: flex;
    flex-wrap: wrap;

    width: 1160px;
}

.blog_list__container {
    width: 1120px;
    margin-bottom: 20px;

    background-color: #fefaf1;

    border-radius: 15px;
    padding: 20px;

    position: relative;

}

.blog_list__container_title {
    margin: 0;
}

.blog_container__left_block {
    display: flex;
    flex-wrap: wrap;
    width: 240px;
    height: fit-content;
}

.blog_list__container_created {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.blog_list__container_btn {
    margin: 15px 0 0;
}

.blog_list__container_text {
    margin: 5px 0 0;
}

.blog_list__container_creator {
    position: absolute;

    top: 20px;
    right: 20px;
    font-size: 14px;
}

/*BLOG DETAIL*/
.blog_detail__container {
    display: flex;
    flex-wrap: wrap;

    margin-top: 30px;
}

.blog_detail__header_block__title {
    margin: 0;
}

.blog_detail__header_block__description {
    margin: 5px 0 0 0;
}

.blog_detail__header_block__links {
    display: flex;
}

.blog_detail__header_block__links_item {
    text-decoration: none;

    color: rgb(56, 58, 62);
    margin: 25px 20px 0 0 ;

    font-weight: 600;
}

.blog_detail__header_block__links_item:hover {
    opacity: .75;
}


/*BLOG DETAIL HEADER*/
.blog_detail__header_block {
    width: 980px;

    background-color: rgb(232, 240, 254);
    color: rgb(56, 58, 62);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    padding: 10px 20px;

    box-sizing: content-box;
    height: fit-content;
}


/*BLOG DETAIL INFO*/
.blog_detail__info_block {
    width: 260px;
    max-width: 260px;
    font-size: 15px;

    height: 100%;

    background-color: rgb(232, 240, 254);
    color: rgb(56, 58, 62);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);
    border-radius: 2px;

    padding: 10px 20px;
    margin-left: 40px;
}

.dl_blog_detail_info {
    display: flex;
    width: 100%;
}

.dt_title__blog_info {
    display: inline-block;
    width: 50%;

    font-weight: 600;
}

.dd_title__blog_info {
    display: inline-block;
    width: 50%;
    margin: 0;
}

/*BLOG POSTS*/
.blog_post__container {
    height: fit-content;
}

.blog_post__author {
    margin: 5px 0 0;
    display: inline-block;

    font-size: 14px;

}

.blog_post__created {
    display: inline;

    font-size: 14px;
    margin: 5px 0 0 20px;
    opacity: .75;
}

.blog_post__img {
    display: block;
    width: 100%;
    margin: 20px 0;
}

.blog_post {
    position: relative;
    width: 980px;
    max-width: 980px;

    background-color: rgb(232, 240, 254);
    color: rgb(56, 58, 62);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    padding: 10px 20px;

    margin-bottom: 20px;
}

.blog_post__title {
    margin: 15px 0 0 0;
}

.blog_post__text {
    margin: 5px 0 15px 0;
    word-wrap: break-word;
    line-height: 150%;
}

/*POST DETAIL*/
.info_about_post {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

/*COMMENTS*/
.comments_container {
    width: 980px;
    max-width: 980px;

    padding: 10px 20px;

    background-color: rgb(232, 240, 254);
    color: rgb(56, 58, 62);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);
}

.comment_block {
    margin-top: 20px;
}

/*COMMENT FORM*/
.comment_form {
    margin-top: 20px;
}

.comment_form__input {
    box-sizing: border-box;
    width: 100%;

    outline: none;
    border: none;
    border-radius: 3px;

    padding: 10px 20px;

    color: rgb(56, 58, 62);
    font-size: 16px;
    font-weight: 400;
    font-family: "SF Pro Display";

    resize: none;
}

.comment_form__input::placeholder {
    color: rgb(56, 58, 62);
    font-size: 16px;
    font-weight: 400;
    font-family: "SF Pro Display";
}

.comment_button {
    margin-top: 10px;
}

/*EDITORS PAGE*/
.editors_block {
    display: flex;
    position: relative;
}

.small_form_input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px 20px;
    margin-bottom: 10px;

    outline: none;
    border: none;
    border-radius: 3px;
}


/*USER*/
.user_photo__info {
    width: 30px;
    height: 30px;
}

.blog_post__author {
    margin: 0 0 0 10px;
    font-size: 16px;

    padding-bottom: 10px;
    box-sizing: content-box;
}

.user__date_joined {
    position: absolute;
    right: 20px;
    top: 0;

    font-size: 14px;

    opacity: .75;
}